.center {
    display: flex;
    border: 2px solid black;  
    margin-top: 10px;
    margin-left: 5px;
    overflow-y: scroll;
    height: 400px;
    
}


div img {
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}


button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(202,156,24);
    cursor: pointer;
    font-weight: bolder;
    color: white;
}


input{
    background-color: rgb(27,112,137);
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px 20px 10px 30px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
}


input::placeholder{
    color: rgba(255,255,255,0.5);
}

input:focus, button:focus{
    outline: none;
} 

.closeBtn {
    align-self: flex-start;
    cursor: pointer; 
    font-size: 25px;
    color: red; 
    width: 40px;
    height: 40px;
    margin-top: 20px;
    padding-bottom: 40px; 
    position: absolute;
    
}

.imgDiv {
    position: relative;
    margin-right: 20px;
}