/*.backImg {
    background-image: url("https://www.itl.cat/pngfile/big/51-519506_photography-camera-wallpaper-happy-new-year-2019-camera.jpg");
    height: 100%; 
  
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

}*/

.center {
    display: flex;
    border: 5px solid black;
    margin-top: 10px;
    margin-left: 5px;
    overflow-y: scroll;
    height: 450px;
   background-color: lightgray;
    
}


img {
    height: 200px;
    width: 200px;
    margin-left: 35px;
    margin-top: 20px;
    position: relative;
    opacity: 1.0;
    border: 3px solid black;
}


button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(138, 133, 133);
    cursor: pointer;
    font-weight: bolder;
    color: white;
    font-size: 16px;
}


input{
    background-color: rgb(27,112,137);
    border: 0;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px 20px 10px 30px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
}


input::placeholder{
    color: white;
}

input:focus, button:focus{
    outline: none;
} 

.closeBtn {
    
    cursor: pointer; 
    font-size: 25px;
    color: red; 
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 0px;
    position: absolute;
   
   
    
}

